nav a {
		position: relative;
		display: inline-block;
		margin: 45px 18px;
		outline: none;
		color: #888;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	 nav .notactive:hover,
	 nav .notactive:focus {
		outline: none;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.8);
	}

	nav .active {
		outline: none;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.8);
	}

	.headernav {
		display: inline;
		font: 11px Arial black,sans-serif;
		}

	.headermidnav {
		display: inline-block;
		margin-top: -10px;
		}
	
	/* Effect 4: bottom border enlarge */
	.underline-effect .notactive {
		padding: 0 0 10px;
	}
	.underline-effect .active {
		padding: 0 0 10px;
	}

	.underline-effect .notactive::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, 0.8);
		content: '';
		opacity: 0;
		-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
		-o-transition: height 0.3s, opacity 0.3s, -o-transform 0.3s;
		-ms-transition: height 0.3s, opacity 0.3s, -ms-transform 0.3s;
		transition: height 0.3s, opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	
	.underline-effect   .notactive:hover::after,
	.underline-effect 	.notactive:focus::after {
		height: 3px;
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}


	.underline-effect .active::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, 0.8);
		content: '';
		opacity: 0;
		-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
		-o-transition: height 0.3s, opacity 0.3s, -o-transform 0.3s;
		-ms-transition: height 0.3s, opacity 0.3s, -ms-transform 0.3s;
		transition: height 0.3s, opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	
	.underline-effect   .active:after,
	.underline-effect 	.active:after {
		height: 3px;
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}




	
	
	
	